/* .Dashboard_Posts {
    height: 100px;
    width: 200px;
    background-color: rgb(173, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Dashboard_Img {
    height: 100px;
    width: 100px;
} */